[Desktop Entry]
Version=1.0
Name=Polypass
GenericName=Polypass
Comment=A simple, secure, and easy to use password manager
Terminal=false
Type=Application
Categories=Utility
Keywords=passwords;security;
Icon=Polypass
StartupWMClass=polypass