[Desktop Entry]
Version=1.0
Name=PolyPass
GenericName=PolyPass
Comment=A simple, secure, and easy to use password manager
Terminal=false
Type=Application
Categories=Utility
Keywords=passwords;security;
Icon=PolyPass.png
StartupWMClass=PolyPass